@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Geist+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

.profile-page {
    max-width: 100vw;
}
.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo {
    width: 150px;
    position: absolute  ;
    top: 90px;
    left: 43rem;
    z-index: 100;
}

.user-name-profile {
    position: absolute;
    top: 230px;
    left: 35rem;
    font-size: 30px;
    z-index: 100;
    cursor: default;
}

.nis-nisn {
    display: flex;
    position: relative;
    top: 360px;
    right: 200px;
}

.nip{
    font-weight: 700;
    position: relative;
    bottom: 2.800rem;
    left: 17rem;
}

 .nip-value-pembinaadmin {
    padding: 10px;    
    width: 350px;
    font-weight: 600;
    font-size: medium;
    border-radius: 5px;
    outline: none;
    border: 2px solid #d1d1d1;
    position: relative;
    left: 15rem;
    bottom: 1.200rem;
}

.tanggal-lahir-pembina {
    font-weight: 700;
    width: 130px;
    position: absolute;
    top: 3.500rem;
    right: 66rem;
}

.tanggal-lahir-value-pembina {
    padding: 10px;    
    width: 500px;
    font-weight: 600; 
    border-radius: 5px;
    outline: none;
    border: 2px solid #d1d1d1;
    position: relative;
    top: 5rem;
    right: 9rem;
}
.alamat-pembina {
    font-weight: 700; 
    position: absolute;
    left: 16rem;
    top: 10rem;
}

.alamat-value-pembina {
    padding: 10px;    
    width: 500px;
    font-weight: 600; 
    border-radius: 5px;
    outline: none;
    border: 2px solid #d1d1d1;
    position: relative;
    top: 12rem;
    right: 42rem;
}

.edit-data-title {
    color: black;
}