.satrov-page {
  min-height: 100vh;
  padding: 2rem;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo Ekskul */
.logo-eskul {
  border-radius: 1000px;
  width: 230px;
  height: 230px;
  object-fit: cover;
  margin-bottom: 1rem;
}

/* Nama Ekskul */
.nama-eskul {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

/* Container utama: deskripsi + struktur */
.satrov-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  flex-wrap: wrap; /* biar responsive, kalau layar kecil jadi turun */
  margin-bottom: 4rem;
}

/* Deskripsi */
.desc-eskul {
  font-size: 1rem;
  background-color: #ffcaca;
  border-radius: 20px;
  box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.458);
  width: 400px;
  max-width: 90%;
  padding: 20px;
}

/* Struktur (pembina/ketua) */
.structure-satrov {
  font-size: 1rem;
  border-radius: 20px;
  width: 400px;
  max-width: 90%;
  padding: 20px;
}

.pembina,
.ketua {
  font-weight: 700;
  margin: 10px 0 5px 0;
}

.value-satrov {
  padding: 8px 12px;
  width: 100%;
  font-size: 1rem;
  border-radius: 30px;
  outline: none;
  border: 2px solid #d1d1d1;
  margin-bottom: 1rem;
}

/* Judul Daftar Anggota */
.header-daftar-anggota {
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 3px solid #000;
  padding-bottom: 4px;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 900px;
  text-align: left;
}

/* Tabel Anggota */
.table-anggota {
  border-collapse: collapse;
  width: 100%;
  max-width: 900px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 22px;
  overflow: hidden;
}

.table-anggota th,
.table-anggota td {
  padding: 20px 40px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.table-anggota th {
  font-size: 1.05rem;
  font-weight: 700;
  text-align: center;
  background-color: #eeeeee;
  border-bottom: 2px solid #b7b7b7;
  color: #000000;
}

.table-anggota td {
  font-size: 1rem;
}

/* Atur lebar kolom */
.table-anggota td:nth-child(1),
.table-anggota th:nth-child(1) {
  width: 10%;
}

.table-anggota td:nth-child(2),
.table-anggota th:nth-child(2) {
  width: 10%;
}

.table-anggota td:nth-child(3),
.table-anggota th:nth-child(3) {
  width: 10%;
}

.table-anggota td:nth-child(4),
.table-anggota th:nth-child(4) {
  width: 30%;
}

/* Tombol aksi */
.action {
  display: flex;
  gap: 10px;
}

.btn-edit,
.btn-delete {
  font-size: 1.1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s;
}

.btn-edit:hover {
  color: #007bff;
  transform: scale(1.2);
}

.btn-delete:hover {
  color: #dc3545;
  transform: scale(1.2);
}

.addicon {
  font-size: 2rem;
}

.accicon {
  font-size: 1.6rem;
}
