.back-btn {
    position: fixed;
    bottom: 30px;
    right: 185vh;
    background-color: #B90303;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 999;
}

.back-btn:hover {
    background-color: #d30101;
    transform: scale(1.07);
}